body {
    background-color: black;
}

.display {
    text-align: right;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    padding: 15px;
    width: 200px;
}

button {
    padding: 10px;
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-right: 8px;
    background-color: #4a4a4a;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

#r1-1 {
    width: 113px;
    background-color: #c3c3c3;
    color: #000;
}

#r1-2 {
    background-color: #c3c3c3;
    color: #000;
}

#r5-1 {
    width: 113px;
}

#r1-3, #r2-4, #r3-4, #r4-4, #r5-3 {
    background-color: #ff9100;
}