@font-face {
    font-family: "Helvetica";
    src: url(./fonts/Helvetica.ttf) format('truetype');
    font-weight: 400;
}

/*------------ Body and Buttons ------------*/

body {
    background-color: black;
}

#phone {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 110px 0 35px;
    display: flex;
    width: 280px;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid red;
    border-radius: 2em;
}

.display {
    text-align: right;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    font-family: "Helvetica";
    padding: 3px;
    width: 220px;
}

button {
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-right: 8px;
    background-color: #4a4a4a;
    color: #fff;
    font-family: "Helvetica";
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

#r1-1 {
    width: 113px;
    background-color: #c3c3c3;
    font-family: "Helvetica";
    color: #000;
}

#r1-2 {
    background-color: #c3c3c3;
    font-family: "Helvetica";
    color: #000;
}

#r5-1 {
    width: 113px;
}

/*------------ Hover and Active Buttons ------------*/

#r1-1:hover {
    cursor: pointer;
    background-color: red;
}
#r1-1:active {
    background-color: blue;
}

#r1-2:hover {
    cursor: pointer;
    background-color: red;
}
#r1-2:active {
    background-color: blue;
}

#r5-1:hover {
    cursor: pointer;
    background-color: red;
}
#r5-1:active {
    background-color: blue;
}

button:hover {
    cursor: pointer;
    background-color: red;
}
button:active {
    background-color: blue;
}

#r1-3, #r2-4, #r3-4, #r4-4, #r5-3 {
    background-color: #ff9100;
}

#r1-3:hover, #r2-4:hover, #r3-4:hover, #r4-4:hover, #r5-3:hover {
    cursor: pointer;
    background-color: red;
}
#r1-3:active, #r2-4:active, #r3-4:active, #r4-4:active, #r5-3:active {
    background-color: blue;
}